<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-3">
            <div class="widget style1">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <i class="fa fa-trophy fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 今日收入 </span>
                        <h2 class="font-bold">&yen; 4,232</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-cloud fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 今日温度 </span>
                        <h2 class="font-bold">26'C</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="widget style1 lazur-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-envelope-o fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 新消息 </span>
                        <h2 class="font-bold">260</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="widget style1 yellow-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-music fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 新专辑 </span>
                        <h2 class="font-bold">12</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="widget navy-bg no-padding">
                <div class="p-m">
                    <h1 class="m-xs">&yen; 1,540</h1>

                    <h3 class="font-bold no-margins">
                        年收入
                    </h3>
                    <small>项目年收入</small>
                </div>
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-chart1"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="widget lazur-bg no-padding">
                <div class="p-m">
                    <h1 class="m-xs">&yen; 210,660</h1>

                    <h3 class="font-bold no-margins">
                        月收入
                    </h3>
                    <small>项目年收入</small>
                </div>
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-chart2"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="widget yellw-bg no-padding">
                <div class="p-m">
                    <h1 class="m-xs">&yen; 50,992</h1>

                    <h3 class="font-bold no-margins">
                        半年收入
                    </h3>
                    <small>市场销售额</small>
                </div>
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-chart3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="widget style1 navy-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h2 class="font-bold">217</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="widget style1 navy-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-thumbs-up fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h2 class="font-bold">400</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="widget style1 navy-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-rss fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h2 class="font-bold">10</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="widget style1 lazur-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-phone fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h2 class="font-bold">120</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="widget style1 lazur-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-euro fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h2 class="font-bold">462</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="widget style1 yellow-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-shield fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h2 class="font-bold">610</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row m-t-lg">
    <div class="col-sm-6">
        <div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-danger m-r-sm">12</button>
                            <a href="/admin/UserBalanceStat">查看余额流水</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary m-r-sm">28</button>
                            文章
                        </td>
                        <td>
                            <button type="button" class="btn btn-info m-r-sm">15</button>
                            评论
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-info m-r-sm">20</button>
                            新闻
                        </td>
                        <td>
                            <button type="button" class="btn btn-success m-r-sm">40</button>
                            赞
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger m-r-sm">30</button>
                            通知
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-warning m-r-sm">20</button>
                            专辑
                        </td>
                        <td>
                            <button type="button" class="btn btn-default m-r-sm">40</button>
                            群组
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning m-r-sm">30</button>
                            权限
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>